@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* =========================
              MENU
            1.Generic
            2.Navbar
            3.Landing
            4.TopRatedMovies
            5.Footer
            6.Browsemoremovies
            7.Contact
            8.Discover
   =========================*/
/* =========================   
            1.Generic
   =========================*/
*{
    margin: 0;
    padding: 0;
  
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary-color: #000000;
    --secondary-color: #FFFFFF;
    --third-color: #DA0C2C;
}

html{
  scroll-behavior: smooth;
}

.App{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

img{
  width: 100%;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 900,
  'GRAD' 0,
  'opsz' 20
}

.click{
  transition: all 300ms ease;
}

.click:hover{
  transform: scale(1.15);
}

.click:active{
  transform: scale(0.9);
}

.container{
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
}

.row{
  margin: 0 auto;
  width: 95%;
}

.btn{
  padding: 20px 28px;
  border-radius: 18px;
  color: var(--secondary-color);
  font-size: 22px;
  text-transform: uppercase;
  border: 1px solid var(--third-color);
  transition: all 300ms ease;
  background-color: transparent;
}

.btn:hover{
  background-color: var(--third-color);
}

.movies--wrapper{
  display: flex;
  flex-wrap: wrap;
}

/* =========================
            2.Navbar
   =========================*/
nav{
  background-color: var(--primary-color);
  height: 80px;
}

.nav--wrapper{
  margin: 0 auto;
  padding: 0 28px;
  max-width: 1250px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__img--wrapper{
  display: flex;
}

.nav__img{
  width: 110px;
  height: auto;
}

.nav__list{
  display: flex;
}

.nav__list--element:not(:last-child){
  margin-right: 30px;
}

.nav__link{
  color: var(--secondary-color);
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: none;
}

.link--hover-effect{
  position: relative;
  background: var(--secondary-color);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.link--hover-effect::before{
  content: attr(data-title);
  background: var(--third-color);
  color: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  transition: all 300ms ease;
  background-clip: text;
  -webkit-background-clip: text;
}

.link--hover-effect:hover::before{
  height: 100%;
}

/* =========================
            3.Landing
   =========================*/

.landing{
  position: relative;
  height: calc(100vh - 80px);
}

.title{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--secondary-color);
  font-size: 40px;
  letter-spacing: 2px;
  text-align: center;
  z-index: 3;
}

.landing__img--wrapper{
  position: relative;
  height: 100%;
  display: flex;
}

.landing__img{
  width: 100%;
  object-fit:cover;
}

.landing__img--wrapper::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background: linear-gradient(0deg, rgba(0,0,0,1) 35%, rgba(0,0,0,0) 100%);
  opacity: 0.9;
  z-index: 1;
}

.landing__input--wrapper{
  position: absolute;
  top: 40%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
}

.landing__input{
  position: relative;
  padding: 8px 90px 8px 16px;
  font-size: 20px;
  border: none;
  border-radius: 16px;
  transition: all 300ms ease;
}

.landing__input:hover,
.landing__input:focus{
  border:2px solid var(--third-color);
  outline: none;
}

.search--icon{
  position: absolute;
  display: block;
  font-size: 28px;
  z-index: 3;
  top: 50%;
  right: 0px;
  transform: translate(-50%,-50%);
  transition: all 300ms ease;
}

.black{
  background-color: rgba(0, 0, 0, 0.534);
  width: 100%;
  height: 100%;
}

.search--icon:hover{
  transform: scale(1.1) translate(-50%,-50%);
}

.search--icon:active{
  transform: scale(0.9) translate(-50%,-50%);
}

.go-down--icon{
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 5%;
  font-size: 74px;
  color: var(--secondary-color);
  z-index: 3;
  transition: all 300ms ease;
  animation: go-down 800ms infinite alternate-reverse;
}

@keyframes go-down {
  0%{
    transform: translate(-50%, -50%) translateY(-20px);
  }
  100%{
    transform: translate(-50%, -50%) scale(0.9);
  }
}

.go-down--icon:hover{
  color: var(--third-color);
}

/* =========================
        4.TopRatedMovies
   =========================*/
#top-rated-movies{
  padding: 40px 0;
  background-color: var(--primary-color);
}

.section__title{
  color: var(--secondary-color);
  text-align: center;
  font-size: 34px;
  letter-spacing: 4px;
  font-weight: 400;
  margin-bottom: 40px;
}

.movie-card{
  width: calc(100% / 3);
  display: flex;
  position: relative;
  overflow: hidden;
}

.movie-card::after{
  content: "";
  background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 70%);
  /* background-color: var(--primary-color); */
  opacity: 0.65;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 300ms ease;
}

.movie-card:hover::after{
  opacity: 0.25;
}

.movie__title{
  position: absolute;
  width: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 10%;
  text-align: center;
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 500;
  color: var(--secondary-color);
  z-index: 2;
}

.movie__rating{
  background-color: #00000070;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: var(--secondary-color);
  padding: 20px;
  border: 2px solid var(--secondary-color);
  border-radius: 50%;
}

.movie__img{
  transition: all 300ms ease;
}

.movie-card:hover .movie__rating{
  color: rgb(255, 224, 50);
}

.movie-card:hover .movie__img{
  transform: scale(1.1);
}

.movie-card--skeleton{
  height: 500px;
  width: calc(100% / 3);
  display: flex;
  position: relative;
  background-color: gray;
}

.movie__img--skeleton{
  width: 100%;
  height: 100%;
  background-color: rgb(71, 71, 71);
}

.movie__title--skeleton{
  position: absolute;
  width: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 10%;
  z-index: 2;
  height: 20px;
  background-color: rgb(153, 153, 153);
}

.movie__rating--skeleton{
  background-color: rgb(153, 153, 153);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 60px;
  border-radius: 50%;
}
/* =========================   
            5.Footer
   =========================*/
footer{
  padding: 40px 0;
  background-color: var(--third-color);
  position: sticky;
  top: 100%;
}

.footer--wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__list{
  display: flex;
  align-items: center;
}

.footer__list--element:not(:last-child){
  margin-right: 20px;
}

.footer__link{
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 500;
}

.copyright{
  margin-top: 16px;
}

/* =========================   
      6.Browsemoremovies
   =========================*/
#browse-more-movies{
  padding: 40px 0;
  background-color: var(--primary-color);
}

.browse-more-movies--wrapper{
  display: flex;
  justify-content: center;
}

/* =========================   
            7.Contact
   =========================*/
#contact{
  padding: 60px 0 40px 0;
  border-top: 1px solid var(--third-color);
  display: flex;
  flex-grow: 1;
  background-color: var(--primary-color);
}

.contact--wrapper{
  display: flex;
  justify-content: space-between;
}

.form--wrapper{
  width: 55%;
}

.contact-description--wrapper{
  width: 40%;
}

.contact-form{
  display: flex;
  flex-direction: column;
}

.contact__box{
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.contact__label{
  color: var(--secondary-color);
  letter-spacing: 1px;
  font-size: 18px;
  margin-bottom: 4px;
}

.contact__input{
  padding: 4px 8px;
  font-size: 18px;
  border-radius: 4px;
  background-color: transparent;
  border: none;
  color: var(--secondary-color);
  border-bottom: 1px solid var(--third-color);
  transition: all 600ms ease;
}

.contact__input:focus{
  outline: none;
  border: 1px solid var(--third-color);
  color: var(--secondary-color);
}

.contact__para{
  color: var(--secondary-color);
  font-size: 24px;
  letter-spacing: 1px;
  text-align: center;
  margin-top: -30px;
}

/* =========================   
            8.Discover
   =========================*/
#popular-movies,
#popular-now-playing,
#upcoming-movies{
  background-color: var(--primary-color);
  padding-bottom: 40px;
}

#popular-movies{
  padding-top: 40px;
}